* {
  margin: 0;
  padding: 0;
}
body {
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.header {
  background-color: #454545;
  padding: 14px 60px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.header a {
  color: #fff;
}

.header .nav ul {
  display: flex;
  gap: 40px;
}

.project {
  padding: 40px 60px;
}

.project ul {
  display: flex;
  gap: 30px;
}
.project ul li {
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
}
.project ul li h3 {
  margin-bottom: 20px;
}
.project ul li:hover {
  transform: translateY(-2px) rotate(-1deg);
  box-shadow: 1px 1px 14px 0 #000;
}
